{% extends 'shared/base.html' %}

{% block content %}
    <h1 class="text-center">Post List</h1>
    <div class="container">
        <table class="table border table-striped table-hover mt-5">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Category</th>
                <th>Action</th>
            </tr>
            
            {% for i in data %}
            <tr>
                <td>{{ i.title }}</td>
                <td>{{ i.description }}</td>
                <td>{{ i.category }}</td>
                <td>
                    <a href="{% url 'admin_update_post' id=i.id %}">Edit</a> / 
                    <a href="{% url 'admin_delete_post' id=i.id %}">Delete</a>    
                </td>
            </tr>
            {% endfor %}
                
        </table>
    </div>
{% endblock content %}
    