{% extends 'shared/base.html' %}

{% block header %}
    {% include 'shared/trumbowyg/css.html' %}
{% endblock header %}

{% block content %}
<div class="container">
    <h1 class="text-center text-info mt-5">Update Category</h1>

    <form method="POST">
        {{ form.as_p }}
        <div class="row">
            <div class="col-6">
                <a href="{% url 'admin_list_category' %}" class="btn btn-primary">Back To List</a>
            </div>
            <div class="col-6">
                {% csrf_token %}
                <button type="submit" class="btn btn-success">Update</button>
            </div>
        </div>

    </form>
</div>
{% endblock content %}

{% block footer %}
    {% include 'shared/trumbowyg/script.html' %}
    <script>
        $('#id_body').trumbowyg();
    </script>
{% endblock footer %}